.landing_page{
    width: 100%;
    height: auto;
    background-color:#E4EAE6 ;
    padding: 30px;
}

@media(min-width: 1560px){
    .landing_page_text h1{
        padding: 131px 278px;
    }
  
}

@media(min-width: 1199px){
    .landing_page{
        padding: 50px;
    }
  
}

.landing_page_text{
    width: 100%;
    text-align: center;
}

.landing_page_text h1{
    color: #161718;
    font-size: 48px;
    font-family: Rubik;
    font-weight: 600;
    
}

.landing_page_modal{
    position: absolute;
    margin: auto;
    background-color: #36414C;
    width: 200px;
    height: 200px;
    display: none;
    padding: 5px;
    z-index: 10;
}

.landing_page_modal--active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




@media(max-width: 1199px){
    .landing_page_text h1{
        font-size: 18px;
    }
  
}

.landing_page_text p{
    padding-top: 16px;
    color: #36414C;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
}


.landing_page_box{
    padding-top: 61px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

@media(min-width: 885px){
    .landing_page_box{
        grid-template-columns: repeat(2, 1fr);
        gap: 86px;
    }
  
}

.landing_page_box_one{
    background-color:#FFFFFF ;
    padding:15px;
    border-radius: 10px;
}

@media(min-width: 768px){
    .landing_page_box_one{
        padding:36px 50px ;   
    }
  
}

.landing_page_box_one h1{
    color: #161718;
    font-family: Rubik;
    font-weight: 600;
    font-size: 30px;
    text-align: center;

}

.landing_page_box_one p{
    color: #36414C;
    font-family: Poppins;
    font-weight: 400;
    font-size:16px;
    text-align: left;
    padding-top: 29px;
}

.landing_page_image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 143px;
    row-gap: 61px;
    padding-top: 88px;
    
}

@media(min-width: 885px){
    .landing_page_image{
        grid-template-columns: repeat(2, 1fr);
    }
  
}

.landing_page_image_item_text h1{
    font-family: Rubik;
    color: #161718;
    font-weight: 600;
    font-size: 30px;
    padding: 37px 0;
    text-transform: uppercase;
}

.landing_page_image_item_text p{
    color: #36414C;
    font-family: Poppins;
    font-weight: 400;
    font-size:16px;
    line-height: 25px;
}


  *{
    margin: 0;
    padding: 0;
    width: 100%;
  }

  p, h1{
    margin-bottom: 0;
  }
